* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: white;
    width: 340px;
    height: 510px;
    margin: 100px 560px;
    border-radius: 10px;
    padding: 15px;
}

img {
    border-radius: 10px;
    width: 100%;
}

h2 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 10px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding: 15px;
    text-align: center;
}