*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
}

.container {
    height: 500px;
    width: 600px;
    margin: 100px auto;
}

.top {
    background-color: rgba(255, 255, 255, 1);
    height: 200px;
    width: 100%;
}

.top * {
    position: relative;
    top: 30px;
}

.top h3 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 30px;
    font-weight: 900;
    margin-left: 30px;
}

.top h4 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
    font-weight: 900;
    margin-left: 30px;
}

.top p {
    font-family: var(--font-family);
    color: hsl(218, 22%, 67%);
    font-weight: 900;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.bot {
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

.left {
    background-color: hsl(179, 62%, 43%);
}

.left h4 {
    font-family: var(--font-family);
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
}

.left #money {
    display: inline-block;
    width: 60px;
    font-family: var(--font-family);
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 900;
}

span {
    font-family: var(--font-family);
    color: hsl(204, 43%, 93%);
    font-weight: 900;
    height: 25px;
    font-size: 18px;
}

#access {
    margin-top: 18px;
    margin-left: 30px;
    font-size: 16px;
    color: white;
    font-family: var(--font-family);
    font-weight: 800;
}

button {
    margin-top: 30px;
    margin-left: 30px;
    width: 240px;
    height: 50px;
    border-radius: 8px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
}

.right {
    background-color: hsl(179, 62%, 68%)
}

.right h4 {
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
}

.right p {
    color: white;
    font-family: var(--font-family);
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
    margin-right: 30px;
}